CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_NODEJS_ICU_NONE=y
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_UnblockNeteaseMusic=y
CONFIG_PACKAGE_alsa-lib=m
CONFIG_PACKAGE_alsa-utils=m
CONFIG_PACKAGE_attr=m
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_ca-bundle=m
CONFIG_PACKAGE_confuse=m
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_fdk-aac=m
CONFIG_PACKAGE_forked-daapd=m
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_libantlr3c=m
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libcomerr=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libext2fs=m
CONFIG_PACKAGE_libfdisk=m
CONFIG_PACKAGE_libffmpeg-full=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libhttp-parser=y
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libopus=m
CONFIG_PACKAGE_libpam=m
CONFIG_PACKAGE_libplist=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libss=m
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libtasn1=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libunistring=m
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-openssl=m
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_luci-app-arpbind=m
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-freifunk-diagnostics=y
CONFIG_PACKAGE_luci-app-guest-wifi=m
CONFIG_PACKAGE_luci-app-music-remote-center=m
CONFIG_PACKAGE_luci-app-pppoe-relay=y
CONFIG_PACKAGE_luci-app-rp-pppoe-server=m
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=m
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=m
CONFIG_PACKAGE_luci-i18n-music-remote-center-zh-cn=m
CONFIG_PACKAGE_luci-i18n-pppoe-relay-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_mxml=m
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_rp-pppoe-common=y
CONFIG_PACKAGE_rp-pppoe-relay=y
CONFIG_PACKAGE_rp-pppoe-server=m
CONFIG_PACKAGE_samba36-server=y
CONFIG_PACKAGE_samba4-libs=m
CONFIG_PACKAGE_samba4-server=m
CONFIG_PACKAGE_shine=m
CONFIG_PACKAGE_sqlite3-cli=m
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_v2ray=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_vlmcsd=m
CONFIG_PACKAGE_wifischedule=y
CONFIG_PACKAGE_wsdd2=m
CONFIG_PACKAGE_zerotier=m
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SQLITE_FTS3=y
CONFIG_SQLITE_RTREE=y
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
# CONFIG_NODEJS_ICU_SYSTEM is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_aigale_ai-br100 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_ac1200rm is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_r36m-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_tube-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rp-n53 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-ac51u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n12p is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n14u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_bdcom_wap2100-sk is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-1166d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-300hp2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-600d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_wmr-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_comfast_cf-wr800n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dch-m225 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-510l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-810l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-116-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-922-e2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dovado_tiny-ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_br-6478ac-v2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7476rpc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478apc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_elecom_wrh-300cr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_engenius_esr600 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_fon_fon2601 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt750 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_head-weblink_hdrm200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5661 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5761 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5861 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hnet_c108 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac1167gr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac733gr3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iptime_a104ns is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u25awf-h1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u35wf is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlw221 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlwg2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lava_lr-25g001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1s is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_linksys_e1700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_microduino_microwrt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex2700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex3700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex6130 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_wn3000rp-v3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-4m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-8m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ohyeah_oy-0001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_k2g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1208 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218b is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_cs-qr10 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_db-wrt01 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-750dhp is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex300np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex750np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7530-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7610e-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-v22sg-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ravpower_wd03 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sanlinking_d240 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sercomm_na930 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c2-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20i is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c50-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-mr200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re200-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re210-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_vonets_var11n-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrtnode_wrtnode is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-r3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_yukai_bocco is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-ape522ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-cpe102 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wa05 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-5g-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-h-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we2026 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wr8305rt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zte_q7 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni-ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-viva is not set
# CONFIG_TARGET_ramips_mt7620_Default is not set
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set
