CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_PACKAGE_amule=m
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_boost-chrono=m
CONFIG_PACKAGE_boost-random=m
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_docker-ce=m
CONFIG_PACKAGE_icu=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-dax=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_libalac=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libbfd=m
CONFIG_PACKAGE_libconfig=m
CONFIG_PACKAGE_libcryptopp=m
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libdouble-conversion=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libnetwork=m
CONFIG_PACKAGE_libpcre2-16=m
CONFIG_PACKAGE_libpng=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_libsoxr=m
CONFIG_PACKAGE_libupnp=m
CONFIG_PACKAGE_libwxbase=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_luci-app-airplay2=m
CONFIG_PACKAGE_luci-app-amule=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-diag-core=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-pppoe-relay=y
CONFIG_PACKAGE_luci-app-pppoe-server=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-rp-pppoe-server=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-xlnetacc=m
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-i18n-airplay2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-amule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=m
CONFIG_PACKAGE_luci-i18n-diag-core-zh-cn=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ntpc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-pppoe-relay-zh-cn=y
CONFIG_PACKAGE_luci-i18n-pppoe-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=m
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argon-dark-mod=y
CONFIG_PACKAGE_luci-theme-argon-light-mod=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_mount-utils=m
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-gdbm=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qBittorrent=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_qt5-core=m
CONFIG_PACKAGE_qt5-network=m
CONFIG_PACKAGE_qt5-xml=m
CONFIG_PACKAGE_rblibtorrent=m
CONFIG_PACKAGE_rp-pppoe-common=y
CONFIG_PACKAGE_rp-pppoe-relay=y
CONFIG_PACKAGE_rp-pppoe-server=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_shairport-sync-openssl=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_zerotier=m
CONFIG_TARGET_ROOTFS_TARGZ=y
